#tnav {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-font-smoothing: antialiased;
	-webkit-locale: en-US;
	-webkit-user-select: none;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0.8);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	box-sizing: content-box;
	color: white;
    position: fixed; 
	display: block;
	font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-synthesis: none;
	font-weight: normal;
	height: 34px;
	left: 0px;
	letter-spacing: normal;
	line-height: 34px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-height: 39px;
	min-width: 700px;
	padding: 0px 0px 0px 0px;
	pointer-events: auto;
	/*position: absolute;*/
	right: 0px;
	text-align: left;
	text-rendering: optimizelegibility;
	top: 0px;
	width: 100%;
	z-index: 9999;
}

#title {
    display: table;
    pointer-events: none;
    margin: 0 auto;
}

#mcontent {
	-webkit-user-select: none;
    margin: 40px 0px 0px 0px;
    width: 100%;
    height: auto;
}

.graphs {
    margin: 0px;
    width : 100%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.graphFrame {
	display: inline-block;
	border: solid 1px #999;
	position: relative;
	width: 500px;
	height: 600px
}

.upLever {
	display: block;

	position: relative;
	top : 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pane {
	width: 100%;
	height: 20px;
}

.cbox {
	display: none;
}

.dg {
    position: absolute;
    width:100%;
    height: 96%;
    cursor: move;
}

#dgs {
	/*display: none;*/
	/*background-color: red;*/
	/*opacity: .45;*/
	/*margin-bottom: -500px;*/
}

.node {
  stroke: #fff;
  stroke-width: 1px;
}

.pNode {
	stroke: #FFFF00;
	stroke-width: 4px;
}

.dropTarget {
	background-color: steelblue;
	opacity: 0.1;
}

.hull {
  fill: steelblue;
  stroke: steelblue;
  stroke-width: 30px;
  stroke-linejoin: round;
  opacity: 0.3
}

.link {
  stroke: #999;
  stroke-width: 2px;
  opacity: 0.6;
  /*cursor: crosshair;*/
}

.pLink {
	stroke: #696969;
	stroke-width: 2px;
	opacity: 1;
}


.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

